
body {
  font-size: 2.0em;
}
h3 {
	text-align: center;
	margin-top:80px;
	color: darkslateblue;
	font-family: sans-serif;
	font-size: 3.6rem;
}
.mistake {
  display: block;
  padding: 10px 40px;
  color firebrick;
  font-size: 2.2rem;
}
.create {
	display: block;
	margin: 60px 60px;
	padding: 40px 60px;
}
.create input {
	font-size: 2.6rem;
	font-family: sans-serif;
	margin:10px;
	padding: 15px 25px;
	background-color: linen;
}
.create label {
	font-family: sans-serif;
	padding: 20px;
	margin-top: 30px;
	font-size: 2.4rem;
	
}
#button {
  margin-top: 40px;
	font-size: 2.0rem;
	background: firebrick;
  border-radius: 30px;
  color: white;
}
.date {
  display: flex;
}
#month {
  width: 50px;
}
#year {
  width: 50px;
}
#cvc {
  width: 80px;
}
.top {
  display: block;
  width: 48px;
  margin: 80px auto;
}
.top a {
  text-align: center;
  font-size: 3.0em;
}
.message {
  display: block;
  margin: 120px 80px;
  padding: 20px;
  background-color: linen;
  border 2px solid grey;
  border-radius: 25px;
}
.message p {
  padding: 30px;
  font-size: 2.8em;
  color: black;
  font-weight: 600;
}
.close {
  display: flex;
  justify-content: center;
}
.close button {
  margin: 0px auto;
  text-align: center;
  font-size: 2.8em;
  font-weight: 600;
  background-color: linen;
  color: firebrick;
  padding: 20px;
  border-radius: 30px;
}

#delbx {
  display: flex;
  justify-content: space around;
  margin: 30px;
  font-size: 3.0rem;
}
#delbox input label {
  font-size: 42px;
  color: red;
}
