body {
  font-size: 32px;
  background: antiquewhite;
}

#top {
  display: flex;
  justify-content: center;
  margin: 80px;
}
#pic {
  display: block;
  width: 140px;
}

h1 {
  font-size: 64px;
	text-align: center;
	color: darkslateblue;
	margin-top: 120px;
	padding: 18px;
	background: white;
	box-shadow: 2px 6px 12px gray;
}

.choice {
  display: flex;
  justify-content: space-around;
}

.chapter {
	display: block;
	margin-top: 6rem;
	width: 10rem;
	padding: 1.2rem 2rem;
	border: 0px solid gray;
	border-radius: 35px;
	text-align: center;
	background-color: maroon;
	box-shadow: 2px 4px 12px gray;
}
.chapter a {
	text-decoration: none;
	font-size: 3.0rem;
	font-weight: 600;
	color: white;
}
#utils {
  display: block;
  margin: 180px auto;
}
#utils p {
  text-align: center;
  margin-top: 64px;
  
}
#utils a {
  text-decoration: none;
	font-size: 3.0rem;
	font-weight: 600;
	color: darkgreen;
	text-shadow: 1px 1px 0px 2px white;
}
.top {
  display: block;
  width: 48px;
  margin: 10px auto;
}
.top a {
  text-align: center;
  font-size: 2.8em;
  text-decoration: none;
  color: firebrick;
}
.close {
  display: flex;
  justify-content: center;
}
.close button {
  margin: 40px auto;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  background-color: white;
  color: firebrick;
  padding: 20px 40px;
  border-radius: 40px;
  box-shadow: 2px 5px 9px gray;
}

.qt {
  display: flex;
  justify-content: center;
}
.qt button {
  margin: 30px auto;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  background-color: firebrick;
  color: white;
  padding: 20px 60px;
  border-radius: 40px;
  box-shadow: 2px 5px 9px gray;
}