<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/createSite.css">
    <meta http-equiv="refresh" content="31">
    <title>message</title>
    <script type="text/javascript">
      function homeWindow() {
        window.history.replaceState(null, '', '/');
        window.location.replace("http://localhost{{ .Port }}/home");
      }
    </script>
  </head>
  <body>
    <base target="_self">

    <div class="message">
      <p>{{ .Message }}</p>
    </div> 
    <br>

    <div class="close">
      <button type="button" onclick="homeWindow();">🏠</button>
    </div>
  </body>
</html>