<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=1080 height=2316">
  <meta http-equiv="refresh" content="31">
  <link rel="stylesheet" type="text/css" href="static/alls.css">
  <title>docs</title>
  <script type="text/javascript">
    function homeWindow() {
      window.history.replaceState(null, '', '/');
      window.location.replace("http://localhost{{ .Port }}/home");
    }
  </script>
</head>
<body>
  {{ $prt := .Port }}
  <base target="_self">
  <div id="add">
    <a href="http://localhost{{.Port}}/createDoc"><b>+<b></a>
  </div>
  <div class="docs">
    {{ range .Docs }}
    <p class="doc">{{ .Name }}</p>
    <input class="value" id={{.Name}} type="text" value={{ .Value }}><button class="dbut" onclick="navigator.clipboard.writeText({{ .Value }});">☰</button>
    <button class="dbut"  onclick="window.location.href='http://localhost{{ $prt }}/editDoc?doc={{.Name}}'">&#x1F174;</button>
    {{ end }}
  </div>

  <div class="close">
    <button type="button" onclick="homeWindow();">🏠</button>
  </div>
</body>
</html>