<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1080 height=2316">
    <link rel="stylesheet" type="text/css" href="static/creates.css">
    <title>create</title>
    <script type="text/javascript">
      function homeWindow() {
        window.history.replaceState(null, '', '/');
        window.location.replace("http://localhost{{ . }}/home");
      }
    </script>
  </head>
  <body>
    <base target="_self">
    <h3>Add doc</h3>
    <div class="create">
      <form method="POST">
        <label for="name">Name </label><br>
        <input id="name" type="text" name="name"><br>
        <label for="value">Value</label><br>
        <input id="value" type="text" name="value"><br>
        <br>
        <input id="button" type="submit">
      </form>
    </div>

    <div class="close">
      <button type="button" onclick="homeWindow();">🏠</button>
    </div>
  </body>
</html>